<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<form th:method="POST" th:action="@{/start/signup}" th:object="${client}">
    <label for="name">Name:         </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="phone">Phone:       </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>
    <label for="email">E-mail:      </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Sign Up"/>
</form>

</body>
</html>